@model Vismy.WEB.Models.LoginVM

<h4>Please sign in</h4>
<hr />
<div class="d-flex w-25">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Login</label>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="checkbox form-group">
            <label class="form-check-label">
                <input type="checkbox" value="false" asp-for="RememberMe"> Remember me
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Sign in" class="btn btn-primary" />
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>