@model Vismy.WEB.Models.PostCreateVM

<h4>Post creation</h4>
<hr />
<div class="d-flex">
    <form asp-action="PostCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tags">Tags</label>
            <textarea asp-for="Tags" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create post" class="btn btn-primary" />
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>