<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vismy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/general.css"></head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="main.html">Vismy</a>
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="main.html">Home></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registration.html">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="blog">
            <div class="container">
                <h1 class="text-center">What we are</h1>
                <div class="card col">
                    <div class="row align-items-center">
                        <div class="col text-center">
                            <div class="card-img">
                                <img src="../img/img.png" style="max-width: 80%;" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h4 class="card-title">We are video-sharing platform</h4>
                                <p class="card-text">
                                    We are rapidly gainging popularity video-sharing platform. We allow to share you videos with other people around the world!
                                </p>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col card-footer">
                            <span>
                                Join us now and read about our benefits for early joined users.
                            </span>
                            <a href="registration.html"><span class="card-link">Read more</span></a>
                        </div>
                    </div>
                </div>
                <h1 class="text-center">Our popular contentmakers</h1>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="card">
                            <div class="card-img">
                                <img src="../img/img.png" class="center-block" style="max-width: 50%;" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Billy Herington</h4>
                                <p class="card-text">
                                    The so-called fullmaster. Anyone can find something interesting in his works.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary w-100">Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card">
                            <div class="card-img">
                                <img src="../img/img.png" class="center-block" style="max-width: 50%;" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Billy Herington</h4>
                                <p class="card-text">
                                    The so-called fullmaster. Anyone can find something interesting in his works.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary w-100">Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card">
                            <div class="card-img">
                                <img src="../img/img.png" class="center-block" style="max-width: 50%;" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Billy Herington</h4>
                                <p class="card-text">
                                    The so-called fullmaster. Anyone can find something interesting in his works.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary w-100">Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:40px;"></div>
    </main>
    <footer class="text-center bg-dark fixed-bottom">
        <span class="text-light">Tg: @liwjathan</span>
    </footer>
</body>
</html>