@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <hr />
    <h4><a asp-controller="Home" asp-action="UserPreviews">See our members</a></h4>
    <hr />
    <h4><a asp-controller="Home" asp-action="PostPreviews">See our posts</a></h4>
    <hr />
</div>
